.van-toast>div{
  word-break: keep-all;
}
.van-toast__text{
  font-size:30px;
  line-height:30px;
}
.van-toast--default .van-toast__icon{
  font-size:90px;
}
.van-loading{
  width:100px;
  height:100px;
}
.van-toast--default{
  width:150px;
  /*height:150px;*/
  padding:35px;
}
.van-toast--text{
  font-size:30px;
  padding:15px 20px;
  line-height:40px;
}
.van-list__loading-text,.van-list__finished-text{
  font-size:30px;
}
.van-dialog__header{
  font-size:30px;
}
.van-dialog__message--has-title,.van-button__text{
  font-size:30px;
}
.van-dialog__message{
  font-size:30px;
}

.van-checkbox{
  /*height:100px;*/
  font-size:34px;
  font-weight:500;
  color:rgba(43,8,94,1);
  /*display:flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
}
.van-checkbox .van-icon-success:before{
  content:''
}
.van-checkbox__icon--round .van-icon{
  border:2px solid #999;
  color:#fff;
}
.van-checkbox .van-icon{
  width:40px;
  height:40px;
}
.van-checkbox__icon{
  height:auto;
  width:5%;
}
.van-checkbox__label{
  width:90%;
  height:inherit;
  /*display:block;*/
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  white-space:normal;
}
 .van-radio-group,.van-radio__input,.van-radio__control{
  width:45px;
  height:45px;
}

.van-radio .van-icon-checked:before,.van-radio .van-icon-circle:before{
  font-size:45px;
}
#app .van-radio .van-icon{
  color:#999;
}

.van-picker__toolbar{
  height:80px;
  line-height:80px;

}
.van-picker__cancel,.van-picker__confirm{
  font-size:36px;
}
